body {
  font-family: "PT Serif", serif;
  margin: 0 auto;
  text-align: center;
}

.instruction {
  color: rgb(247, 233, 47);
}

/* .randomNumber {
  border: 3px solid red;
  width: 320px;
  height: 100px;
  text-align: center;
}

.scores {
  border: 3px solid palevioletred;
  width: 200px;
  height: 150px;
  text-align: center;
} */
.crystals {
  clear: both;
}

.cyrstalImage {
  width: 100px;
  height: 100px;
  float: left;
}

/* #purple_crystal {
  width: 250px;
  height: 100px;
} */
