body {
  font-family: "PT Serif", serif;
  margin: 0 auto;
  text-align: center;
}

.instruction {
  color: rgb(247, 233, 47);
}

.crystals {
  clear: both;
}

.cyrstalImage {
  width: 100px;
  height: 100px;
  float: left;
}

/* #purple_crystal {
  width: 250px;
  height: 100px;
} */
